* {
  margin: 0;
  padding: 0;
}

.page2 {
  height: 100%;
  background-image: url(static3/andrew-kliatskyi-xUTc5eufZPQ-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.thetitle {
  font-size: 100px;
  text-decoration: solid;
  font-family: 'foldit', sans-serif;
  text-shadow: 4px 4px 0 #131212, 4px 4px 0 ;
  align-items: flex-start;
}

#title {
  margin-top: -30px;
  margin-right: 20px;
  font-size: 80px;
  text-decoration: solid;
  font-family: 'Black Ops One', sans-serif;
  text-shadow: -2px -2px 2px #f0c14b, 2px 2px 2px #ff7f00, 4px 4px 4px #2a292b;
  color: #0e0a01;
}

#search-title {
  color: #81807f;
}

.nav-header {
  display: flex;
  justify-content:space-between;
  position: relative;
  top: 10px;
}

nav {
  display:inline-flex;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

nav li {
  display: inline;
  text-decoration: none;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: rgb(217, 236, 236);
  padding: 10px;
  border: 3px solid #f0c14b;
  border-radius: 25px;
  font-size: 20px;
}

.about-nav a {
  text-decoration: none;
  color: black;
  padding: 10px;
  border: 3px solid #f0c14b;
  border-radius: 25px;
  font-size: 20px;
}

nav a:hover {
  color: rgb(17, 17, 17);
  cursor: pointer;
  background-color: #f56f15;
}

.poster {
  background-size: contain;
  text-align: center;
  padding: 70px;
  color: rgb(163, 137, 23);
  margin-top: 100px;
}

.btn:hover {
  background-color: #f56f15;
}

.box {
  display: flexbox;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  border-radius: 100%;
  background-color: #7c7f85;
  border: 3px solid rgb(7, 7, 7);
  align-items: center;
  background-image: linear-gradient(#f0c14b 10%, #856d31 35%, rgb(5, 5, 5) 70%);
  margin: 0px auto 0;
}

.search-box {
  text-align: center;
}

.subtitle {
  color:#f8f8f8;
  font-size: 25px;
  font-weight:lighter;
  margin-bottom: 40px;
  font-family: 'Courgette', ;
  text-shadow:  0 0 4px #f0c14b, 0 0 6px #f0c14b, 0 0 8px #f0c14b;
}

#search-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #f0c14b;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-input {
  padding: 10px;
  border: 1px solid rgb(17, 24, 24);
  border-radius: 4px;
  margin-right: 10px;
  width: 250px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#find-us-btn {
  margin-bottom: 12px;
  background-color: #f0c14b;
  color: #fff;
  padding: 10px 20px;
  border: rgb(17, 24, 24);
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#find-us-btn:hover {
  background-color: #f56f15;
}

#join-now-btn {
  display: inline-block;
  background-color: #f0c14b;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  align-items: center;
}

#join-now-btn:hover {
  background-color: #f56f15;
}

.features {
  display: flex;
}

.landing-features {
  margin-bottom: 20px;
}

.landing-features li {
  text-decoration: none;
  width: 500px;
}


.landing-features ol {
  display: flex;
  gap: 5px; 
}

#home-text {
  display:flex;
  font-family: 'Courgette', cursive;
  margin-left: 50px;
  color: #81807f;
  font-size: 20px;
  width: 450px;
  margin-top: 20px;
  text-decoration: none;
  text-align: justify;
  text-justify: inter-word;
}

#juice,
#personal,
#sauna {
  width: 550px;
  height: 550px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 25px;
  border: 3px solid #f0c14b;
}

figcaption {
  font-style: 'Courgette', cursive;
  font-size: 25px;
  color: #f0c14b;
  padding-bottom: 15px;
}

.footer-list-container {
  display: flex;
  justify-content:flex-start;
  background-color: black;
}

.footer-list-container > * {
  flex: 1;
  padding: 0;
}

.company,
.members {
  display: inline-block;
  text-align: center;
  justify-content: space-evenly;
}

footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background-color: black;
}

.footer-list a,
.footer-list2 a {
  text-decoration: none;
  color: #f0c14b;
}

.bottom2 {
  padding: 0;
  width: 100%;
  position:static;
  justify-content: center;
  height:100%;
  align-items: center;
  text-align: center;
  background-color: black;
}

.date2 {
  display: flex;
  width: 100%;
  text-align: center;
  position:static;
  justify-content: center;
  align-items: center;
  color: #81807f;
}

.bottom2:before,
.bottom2:after {
  content: "";
  display: flex;
  height: 3px;
  background: linear-gradient(to right, #030303, #f0c14b, rgba(3, 3, 3, 0));
  position: static;
  left: 0;
  right: 0;
}

.bottom2:before {
  transform: translateY(-50%);
}

.bottom2:after {
  transform: translateY(50%);
}

.footer-links2 {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
} 

#footer-content {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  color: #81807f;
}

.footer-links2 a {
  color: #555;
}

.footer-links2 a[href="https://www.facebook.com/"] i {
  color: #3b5998;
}

.footer-links2 a[href="https://www.instagram.com/"] i {
  color: #c13584; 
}

.footer-links2 a[href="https://twitter.com/"] i {
  color: #1da1f2; 
}

.footer-links2 a[href="https://www.youtube.com/"] i {
  color: #ff0000; 
}

/* about page */
.page1{
  background-image: url(static3/jeremy-bishop-8xznAGy4HcY-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-color: #0e0a01;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}

li:before {
  content: "\2022";
  color: #333;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

li:before {
  content: "\2022";
  color: #333;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.bout-cont {
  display:flex;
  overflow: auto;   
  margin-top: 200px;
}

#about {
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.column-wrapper {
  display: flex;
  justify-content: center;
  text-align: justify;
  text-justify: inter-word;
}

article {
  text-align: center;
  text-align: justify;
  text-justify: inter-word;
}

h3 {
  font-size: 80px;
  color: #333 ;
  margin-bottom: 20px;
  font-family: 'Courgette', cursive;
  font-weight: bold;
}

.about-us {
  font-size: 25px;
  font-weight: bold;
  color:  #f0c14b;
  line-height: 1.5;
  margin-bottom: 20px;
  text-decoration: none;
  text-align: center;
}

#special {
  justify-content: space-between;
  white-space:pre-line;
  font-size: 20px;
}

.special-container h3 {
  font-size: 40px;
  color: #f0c14b;
  margin-bottom: 10px;
  text-align: center;
  text-justify: inter-word;
}

ul {
  list-style-type: none;
  color: #f0c14b;
  margin-left: 30px;
  margin-bottom: 20px;
  list-style-type: none;
}

li {
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
  margin-right: 75px;
  list-style-type: none;
}

li:before {
  content: "";
  margin-right: 10px;
}

@media (max-width: 768px) {
  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  .about-us,
  li {
    font-size: 14px;
  }
}

#bout-images1,
#bout-images2,
#bout-images3 {
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

#bout-images1 img,
#bout-images2 img,
#bout-images3 img {
  width: 500px;
  height: 500px;
  margin-left: 25px;
  justify-content: space-evenly;
  border: 5px solid #f0c14b;
  border-radius: 20px;
}

#bout-images1 p,
#bout-images2 p,
#bout-images3 p {
  display: flex;
  margin-left: 70px;
  color: #81807f;
  width: 450px;
  font-family: 'Courgette', cursive;
  font-size: 18px;
}

.fab {
  font-size: 18px;
  position: relative;
  align-items: center;
}

.slide img {
  background-color: transparent;
  width: 700px;
  height: 700px;
  border: 2px solid #f0c14b;
  display: flex;
}

.carousel {
  overflow: hidden;
  margin-left: 600px;
}

.carousel input[type="radio"] {
  display:inline;
}

.slides {
  width: 800px auto;
  display: flex;
  transition: all 0.8s ease-in-out;
}

.slide {
  flex: 0 0 100%;
}


#slide1:checked ~ .slides {
  transform: translateX(0);
  animation-play-state: running;
  transition: all;
}

#slide2:checked ~ .slides {
  transform: translateX(-100%);
}

#slide3:checked ~ .slides {
  transform: translateX(-200%);
}

#slide4:checked ~ .slides {
  transform: translateX(-300%);
}

#slide5:checked ~ .slides {
  transform: translateX(-400%);
}

#slide6:checked ~ .slides {
  transform: translateX(-500%);
}

#slide7:checked ~ .slides {
  transform: translateX(-600%);
}

#slide8:checked ~ .slides {
  transform: translateX(-700%);
}

#slide9:checked ~ .slides {
  transform: translateX(-800%);
}

#slide10:checked ~ .slides {
  transform: translateX(-900%);
}

#slide11:checked ~ .slides {
  transform: translateX(-1000%);
}

#slide12:checked ~ .slides {
  transform: translateX(-1100%);
}

#slide13:checked ~ .slides {
  transform: translateX(-1200%);
}

#slide14:checked ~ .slides {
  transform: translateX(-1300%);
}

#slide15:checked ~ .slides {
  transform: translateX(-1400%);
}

#slide16:checked ~ .slides {
  transform: translateX(-1500%);
}

#slide17:checked ~ .slides {
  transform: translateX(-1600%);
}

#slide18:checked ~ .slides {
  transform: translateX(-1700%);
}

#slide19:checked ~ .slides {
  transform: translateX(-1800%);
}

#slide20:checked ~ .slides {
  transform: translateX(-1900%);
}

#slide21:checked ~ .slides {
  transform: translateX(-2000%);
}

/* sign in page */
.page3 {
  background-image: url(static3/pawel-bulwan-JWK2H-2qz1Y-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-box {
  width: 400px;
  height: 400px;
  border: 3px solid #f0c14b;
  border-radius: 25px;
}

.signin-box h2 {
  text-align: center;
  font-size: 45px;
  font-family: 'Courgette', cursive;
  text-shadow: 3px 2px 4px rgba(255, 255, 255, 0.6),
               0 0 10px rgba(170, 142, 14, 0.6),
               0 0 20px #f5b515,
               0 0 30px #f0c14b;
}

#forgot {
  padding: 10px;
  text-decoration: solid;
  font-size: 18px;
  text-decoration: none;
  color: #f0c14b;
  font-weight:bolder;
}

#need-help {
  font-size: 15px;
  padding: 10px;
  color: #f0c14b;
  text-decoration: none;
  font-weight: bolder;
}

.form-group {
  margin-bottom:20px;
  align-items: center;
  
}

.form-group2 {
  text-decoration: none;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  display: flex;
}

#email {
  width: 350px;
  border-radius: 100px;
  margin-left: 22px;
  border: 2px solid #f0c14b;
}

#password {
  width: 350px;
  border-radius: 100px;
  border: 2px solid #f0c14b;
  margin-left: 22px;
}

.form-group button {
  width: 100%;
  padding-bottom: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f0c14b;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
}

.form-group button:hover {
  background-color: #f56f15;
}

.bottom3 {
  width: 100%;
  margin-top: 185px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
}

.custom-footer-nav3 {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.date3 {
  text-align: center;
  position: static;
  justify-content: center;
  align-items: center;
  color: #81807f;
}

.bottom3:before,
.bottom3:after {
  content: "";
  display: flex;
  height: 3px;
  background: linear-gradient(to right, #030303, #f0c14b, rgba(3, 3, 3, 0));
}

.bottom3:before {
  transform: translateY(-50%);
}

.bottom3:after {
  transform: translateY(50%);
}

.footer-links3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links3 a[href="https://www.facebook.com/"] i {
  color: #3b5998;
}

.footer-links3 a[href="https://www.instagram.com/"] i {
  color: #c13584;
}

.footer-links3 a[href="https://twitter.com/"] i {
  color: #1da1f2;
}

.footer-links3 a[href="https://www.youtube.com/"] i {
  color: #ff0000;
}

/* sign up page */
.page4 {
  background-image: url(static3/andrew-kliatskyi-xUTc5eufZPQ-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.signup-container {
  display: flex;
 justify-content: center;
  padding-bottom: 45px; 
}

.signup-box {
  border-radius: 25px;
  border: 2px solid #f0c14b;
  width: 400px;
  height: 550px;
}

#first-name,
#last-name,
#up-email,
#dob-text,
#up-password {
  width: 300px;
  text-align: center;
  margin-left: 150px;
  margin-top: 10px;
  border: 2px solid #f0c14b;
}

#up-gender {
  width: 300px;
  margin-left: 25px;
  margin-top: 10px;
}

.signup-gender {
  width: 350px;
  height: 130px;
  margin-left: 25px;
}

.signup-box h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 35px;
  font-family: 'Courgette', cursive;
  text-shadow: 3px 2px 4px rgba(255, 255, 255, 0.6),
               0 0 10px rgba(170, 142, 14, 0.6),
               0 0 20px #f5b515,
               0 0 30px #f0c14b;
}

/* free workout page */
.page5 {
  background-image: url(static3/ryunosuke-kikuno-v7xw4p7KdFQ-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

#thetitle-free {
  font-size: 100px;
  text-decoration: solid;
  font-family: 'foldit', sans-serif;
  text-shadow: 4px 4px 0 #161616, 4px 4px 0;
  align-items: flex-start;
}

#title-free {
  margin-top: -30px;
  margin-right: 20px;
  font-size: 60px;
  text-decoration: solid;
  font-family: 'Black Ops One', sans-serif;
  text-shadow: -2px -2px 2px #f0c14b, 2px 2px 2px #ff7f00, 4px 4px 4px #2a292b;
  color: #0e0a01;
}

.poster-free {
  background-size: contain;
  text-align: center;
  padding: 70px;
  color: rgb(247, 242, 242);
  margin-top: 100px;
}

.subtitle-free {
  color: #f8f8f8;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 40px;
  font-family: 'Courgette';
  text-shadow: 0 0 4px #f0c14b, 0 0 6px #f0c14b, 0 0 8px #f0c14b;
}

.box-free {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background-color: #7c7f85;
  border: 3px solid rgb(7, 7, 7);
  align-items: center;
  background-image: linear-gradient(#f0c14b 10%, #856d31 35%, rgb(5, 5, 5) 70%);

  margin: 0px auto 0;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f0c14b;
  width: 250px;
  border-radius: 25px;
  justify-content: center;
}

.free-box {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 700px;
  border: 3px solid #f0c14b;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.ticket-number {
  text-align: center;
  margin-bottom: 220px;
  color: #f0c14b;
  margin: 0px auto 0;
  font-size: 20px;
  border-radius: 10px;
}

.ticket-number h3 {
  color: #f0c14b;
  padding-top: 20px;
}

.ticket-number span {
  margin-block: 25px;
  font-size: 25px;
}

.submit-button {
  background-color: #f0c14b;
  width: 350px;
  height: 50px;
  border: 2px solid grey;
  border-radius: 25px;
 text-align: center;
 margin-top: 50px;
}































